*{
    margin: 0;
    padding: 0;
}

table{
    width: 300px;
    height: 150px;
    text-align: center;
    margin-bottom: 20px;
}
a{
    color: red;
    text-decoration: none;
}
p{
    width: 600px;
    margin-bottom: 20px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-indent: 25px;
    text-align: justify;
    
}
body{
margin-left: 25px;
}
h1{
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
   
}
h2{
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
}